<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
 
<head>
    <title>{% block title %}{% endblock %} | Flashcards</title>
    <meta charset="UTF-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/" />
    {% block meta_canonical_url %}{% endblock %}
    <link href="{{ STATIC_URL }bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    {% block extra_head %}{% endblock %}
</head> 

<body id="{% block body_ids %}{% endblock %}" class="{% block body_classes %}{% endblock %}">

{% block body %}{% endblock %}

</body>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% block extra_body %}{% endblock %}
</html>